---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'Septiembre 2023',
        title: 'DAW (Formación)',
        description: 'Desarrollo web enfocado en elementos interactivos y soluciones eficientes.',
        link: '#'
    },
    {
        date: 'Marzo 2023 - Actualidad',
        title: 'Sumvalue SL',
        description: 'Experiencia en desarrollo web con énfasis en interactividad y soluciones prácticas.',
        link: '#'
    },
    {
        date: 'Septiembre 2021',
        title: 'DAM (Formación)',
        description: 'Aprendizaje de tecnologías multiplataforma: Ionic, Angular, Java, Swift, Kotlin.',
        link: '#'
    },
];




---

<ol class="items-center md:flex ml-2.5 mb-10">
    {
        EXPERIENCE.map(experience => (
                <li class="relative mb-6 sm:mb-0">
                    <ExperienceItem {...experience}/>
                </li>
        ))
    }

</ol>


