---

---

<header class="flex justify-between items-center px-2 py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-5 md:9 xl:size-12"
         src="https://media.licdn.com/dms/image/D4D03AQFRV2D9bG64lw/profile-displayphoto-shrink_200_200/0/1700868607153?e=2147483647&v=beta&t=f2bJxc_Ztv4CJp7E-NABetZlwoY7j4bImqoVVGR9bOY"
         alt="Pablo Dev photo"/>

    <nav class="flex text-sm flex-row gap-x-3  md:text-xl xl:gap-x-10 opacity-80">
        <!--<a href="#top">Inicio</a>-->
        <a href="#trayectoria">Trayectoria</a>
        <a href="#poyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>