---

---

<header class="z-20 fixed top-0 z-10 gap-11 flex items-center justify-center w-full mx-auto mt-2">

    <nav class="flex rounded-full bg-gray-600/70 text-sm flex-row p-2 gap-x-3 items-center md:text-xl xl:gap-x-10">
        <img class="rounded-full opacity-100 size-5 md:9 xl:size-12"
             src="./assets/profilePicture.jpeg"
             alt="Pablo Dev photo"/>
        <!--<a href="#top">Inicio</a>-->
        <a href="#trayectoria">Trayectoria</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="mailto:pconejos03@gmail.com">Contacto</a>
    </nav>
</header>