---

---

<section class="flex items-center mb-3">

    <section class="w-4/4 pr-4">
        <p class="mb-4 text-pretty">Soy Pablo Conejos, <span class="text-pink-500">Técnico Superior en Desarrollo de Aplicaciones Web</span> y <span class="text-pink-500">Desarrollo
            de Aplicaciones Multiplataforma.</span>
        </p>
        <p class="mb-4 text-pretty">
            Actualmente estoy trabjando en <span class="text-pink-500">Sum Value</span>.En esta empresa he desarrollado apps desde cero y colaborado en otras.
            Actualmente estoy participando en el desarrollo de <span class="text-pink-500"><a href="https://visiono.es/mapa"></a> Visiono</span> Visiono. Una aplicacion destinada a tecnicos del sector
        </p>
        <p class="mb-4 text-pretty">
            En resumen, me presento como un profesional <span class="text-pink-500">innovador</span> y <span class="text-pink-500">comprometido</span> en el campo del desarrollo de aplicaciones.
        </p>
    </section>



</section>

