---

---

<section class="flex items-center">

    <section class="w-4/4 pr-4">
        <p class="mb-4 text-pretty">Soy Pablo Conejos, <span class="text-pink-500">Técnico Superior en Desarrollo de Aplicaciones Web</span> y <span class="text-pink-500">Desarrollo
            de Aplicaciones Multiplataforma.</span>
        </p>
        <p class="mb-4 text-pretty">
            Actualmente estoy trabjando en <span class="text-pink-500">Sum Value</span> aplicando mi experiencia en
            el desarrollo de programas y aplicaciones. Mi compromiso con la  actualización constante en las últimas
            tecnologías refleja mi búsqueda constante de conocimiento, convirtiéndome en un recurso valioso.
        </p>
        <p class="mb-4 text-pretty">
            En resumen, me presento como un profesional <span class="text-pink-500">innovador</span> y <span class="text-pink-500">comprometido</span> en el campo del desarrollo de aplicaciones.
        </p>
    </section>



</section>

